body,
html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
  position: relative;
  opacity: 0.95;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bgimg-3 {
  background-image: url("https://elements.togetherjournal.com/uploads/2019/11/d7ee8f89-1i2a2020.jpg");
  min-height: 500px;
  /*https://wallpapercave.com/wp/wp1879435.jpg
https://elements.togetherjournal.com/uploads/2019/11/d7ee8f89-1i2a2020.jpg
https://i.pinimg.com/originals/59/97/0f/59970f9a2122f050f2c07542762a4ead.jpg
https://images.unsplash.com/photo-1595535373192-fc8935bacd89?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGVyZnVtZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80*/
}

.bgimg-2 {
  background-image: url("https://wallpapercave.com/wp/wp1879435.jpg");
  min-height: 500px;
}

.bgimg-1 {
  background-image: url("https://dailydoseofglam.com/wp-content/uploads/2019/02/Perfume-Pic.jpg");
  min-height: 600px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {

  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
  }
}