<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="woman.component.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

  <nav class="navbar navbar-inverse ">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">SENSE</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/">Home</a></li>
        <li><a routerLink="/forher">For Her</a></li>
        <li><a routerLink="/forhim">For Him</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a  routerLink="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a (click)="logout()" ><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        <button (click)="shoppingCart()" class="btn  navbar-btn"
          style="background-color:rgb(247, 70, 105); color:rgb(252, 252, 252);">Shopping
          Cart</button><br>
      </ul>
    </div>
  </nav>
  

  <div style="text-align:center;">
    <h1>FOR HER</h1>
  </div>


  <div class="alert" >
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
  </div>

  <!-- The App Section -->
  <div class="container" *ngFor="let item of items">
    <div *ngIf="item.dept == 'Female'|| item.dept == 'female'">
      <div class="row">
        <div class="column-66">


          <h1 class="xlarge-font"><b>{{item.name}}</b></h1>
          <h1 class="large-font" style="color:crimson;"><b>{{item.dept}}</b></h1>
          <p><span style="font-size:36px">Price: $ {{item.price}}</span></p>
          <p><span style="font-size:20px">Description: {{item.info}}</span></p>



          <!--{{item.info}} <input type="text" formControlName="info">-->
          <!--<p><span style="font-size:36px">Description: </span> {{item.info}}</p>-->

          <form [formGroup]="herCForm" (ngSubmit)="onitmSubmit(item._id)">
            <input type="text" type="hidden" formControlName="name">
            <input type="text" type="hidden" formControlName="dept">
            <input type="text" type="hidden" formControlName="price">
            <input type="text" type="hidden" formControlName="pic">
            <button class="button button1" (click)="onEditItem(item)">Add to Cart</button>
            
            
          </form>

        </div>
        <div class="column-33">
          <img src="{{item.pic}}" width="335" height="471">
        </div>
      </div>
    </div>
  </div>
  

</body>

</html>