<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="perfume-db.component.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <!-- <nav class="navbar navbar-inverse ">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">SENSE</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/">Home</a></li>
                <li><a routerLink="/forher">For Her</a></li> -->
        <!-- <li><a routerLink="/admin"><B>ADMIN DASHBOARD</B></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <button routerLink="/" class="btn  navbar-btn"
          style="background-color:rgb(247, 70, 105); color:rgb(252, 252, 252);">Logout</button><br>
      </ul>
    </div>
  </nav> --> 

  <div class="about-section">
    <h1 style="font-size: 1.6em;">Database</h1>
  </div>

  <br>
  <div class="rowmain">
    <div class="columnmain" style="background-color:rgb(255, 255, 255);">
      <div class="card" style="width:60%;height: 100px;"><br><p><b>Total Number of Products: {{this.count}}</b></p></div><br>
      <div class="card" style="width:60%;">
        <div class="container">
          <form [formGroup]="perfForm" (ngSubmit)="onItmSubmit()">

            <!--<label for="name">Name:</label>-->
            Name: <input type="text" formControlName="name">
            <!-- <label for="name">Department:</label>-->
            Department: <input type="text" formControlName="dept">
            <!--<label for="price">Price:</label>-->
            Price: <input type="text" formControlName="price">
            Picture: <input type="text" formControlName="pic">
            Description: <input type="text" formControlName="info">

            <button type="submit" class="form-btn">{{editMode?'Update Item' : 'Add Item'}}</button>

          </form>
        </div>
      </div>
    </div>




    <div class="columnmain2" style="background-color:rgb(255, 255, 255);">
      <div class="row">
        <div class="column" *ngFor="let item of items">
          <div class="card">
            <img src="{{item.pic}}" style="width:100%;height: 200px;">
            <div class="containerT" style="height: 315px;" >
              <h2>Perfume</h2>
              <p class="title">Name: {{item.name}}</p>
              <p class="title">Department: {{item.dept}}</p>
              <p>Price: {{item.price}}</p>
              <p>Description: {{item.info}}</p>
              <p><button class="button" (click)="onDeleteItem(item._id)">Delete</button></p>
              <p><button class="button" (click)="onEditItem(item)">Edit</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>